@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

h1, h2, h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    max-width: 1140px;
    margin: 0 auto;
}

.cabecalho_logo{
    max-width: 200px;
}

.cabecalho_menu{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.cabecalho_menu a{
    color: #777;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 10px;
    transition: .4s;
}

.cabecalho_menu a:hover{
    color: #1A374D;
}

.principal_bg{
    display: flex;
    justify-content: center;
}

.principal{
    display: flex;
    max-width: 1140px;
    padding: 30px;
    gap: 30px;
}

.principal_imagem1 > img{
    max-width: 501px;
}

.principal_projetos{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 50px;
    justify-content: center;
}

.principal_projetos h1{
    font-size: 60px;
    font-weight: 700;
    color: #008C87;
    line-height: 1.1;
}

.principal_projetos p{
    color: #111;
    line-height: 2;
}

.principal_menu{
    display: flex;
    gap: 50px;
}

.menu_botaoPrimario, .menu_botaoSecundario{
    padding: 12px 35px 12px 34px;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    transition: .5s;
}

.menu_botaoPrimario{
    background-color: #008C87;
    color: #F4FAFA;
}

.menu_botaoPrimario:hover{
    background-color: #1a1a1a;
}

.menu_botaoSecundario{
    background-color: #E5E5E5;
    color: #060606;
}

.menu_botaoSecundario:hover{
    background-color: #c4c4c4;
}