.equipe_integrantes{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.integrantes_id{
    display: flex;
    align-items: center;
    gap: 1.875rem;
    padding: 0.9375rem 1.875rem;
    border-bottom: 0.0625rem solid #999;
}

.equipe_integrantes img{
    width: 4.56rem;
    border: 0.3125rem solid #008C87;
    border-radius: 50%;
}

.integrante_nomeCargo{
    display: inline-block;
}

.integrante_nomeCargo h3{
    font-size: 1.125rem;
    line-height: 1.2;
}

