.container{
    display: flex;
    flex: 1; 
    max-width: 1200px;
    padding: 1.875rem;
    gap: 120px;
}

.cabecalho{
    justify-content: space-between;
    align-items: center;
    flex-basis: 0;
    flex-wrap: wrap;
    padding: 1.25rem 1.875rem;
}

.container_interno{
    display: flex;
    flex: 1; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.video, .video_texto, .sucesso{
    align-items: center;
    text-align: center;
}

.migracao{
    align-items: center;
    gap: 78px;
}

.sucesso{
    gap: 60px;
    padding: 0;
}

.controle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    background-color: #FFF;
    gap: 30px;
    flex: 1;
}

.rodape{
    padding: 5rem 0;
    flex-direction: column;
}


